<!DOCTYPE html>
<html>
  <head>
    <title>Test Beer App</title>

    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/css/style.css'/>

    <script src='/bower_components/jquery/dist/jquery.min.js'></script>
    <script src='/bower_components/angular/angular.js'></script>
    <script src='/bower_components/angular-ui-router/release/angular-ui-router.js'></script>
    <script src='/bower_components/bootstrap/dist/js/bootstrap.min.js'></script>

    <script src='/js/bundle.js'></script>

  </head>
  <body ng-app='testApp'>

    <!-- Navbar -->
    <nav ng-controller='navbarCtrl' class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home">BeerApp</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a ui-sref='home'>Home</a></li>
              <li><a ng-show="!username" ui-sref='login'>Login</a></li>
              <li><a ng-show="!username" ui-sref='register'>Register</a></li>
              <li><a ng-hide="!username" ui-sref='beer'>Beer</a></li>
              <li><a ng-hide="!username" ui-sref='profile'>Profile</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li ng-show='username' class="navbar-text">Hello {{username}}!</li>
              <li ng-show='username'>
                <button ng-click='logout()'
                        type="button"
                        class="btn btn-default navbar-btn">Log Out</button>
              </li>
            </ul>
          </div>
        </div>
      </nav>


    <ui-view></ui-view>

  </body>
</html>
